body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea{
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.description{
  white-space: pre-wrap;
}

.time-block{
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

.past {
  background-color: #d3d3d3;
  color: white;
}

.present {
  background-color: #ff6961;
  color: white;
}

.future {
  background-color: #77dd77;
  color: white;
}

.complete {
  background-color: rgb(250, 177, 232);
  text-decoration: line-through;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06AED5;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
}

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

.calendar {
  display: grid;
  grid-template-areas: 
  "empty    planes"
  "time contents";
  grid-template-columns: 120px;
  grid-template-rows: 60px;
  width: 95vw;
  height: 95vh;
  margin: 0 auto;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.20);
}

.empty {
  display: grid;
  grid-area: empty;
  border-top: 1px solid rgba(0, 0, 0, 0.25);
  border-left: 1px solid rgba(0, 0, 0, 0.25);
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.content {
  position: relative;
  grid-area: contents;
  display: grid;
  grid-template-rows: repeat(10, 1fr); 
  grid-template-columns: repeat(3, 1fr);
  border-right: 1px solid rgba(0, 0, 0, 0.25);
  grid-auto-flow: column;
}

.content > div {
  border-left: 1px solid rgba(0, 0, 0, 0.25);
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.event {
  padding-top: 8px;
  font-size: 14px;
  position: absolute;
  background-color: yellow;
  height: 100%;
}

.content > div:nth-child(even) {
  background-color: #F7F7F7;
}
